### London Python for Trading

##### Getting data from different sources

-------------------------------------------------

In this notebook we cover:

1. Morningstar
2. Quandl
3. Yahoo!

You can find a longer list of data sources supported by pandas_datareader here:

http://pandas-datareader.readthedocs.io/en/latest/remote_data.html

##### 1. Morningstar

In [11]:
# A good source of price data for stocks in addition to mutual funds, ETFs and company fundamental data (earnings
# report data, P/E ratios etc.). The API and databases appear to be stable. Note that the code snippet below
# pulls in only the adjusted prices as standard. 

import pandas_datareader.data as web

symbol = 'AAPL'
source = 'morningstar'
start_date = "2011-01-01"
end_date = "2018-03-01"

aapl = web.DataReader(symbol, source, start_date, end_date)
aapl.index = aapl.index.droplevel(level=0)

aapl.tail()

             Close     High     Low    Open    Volume
Date
2018-02-23  175.50  175.650  173.54  173.67  33812360
2018-02-26  178.97  179.390  176.21  176.35  38162174
2018-02-27  178.39  180.480  178.16  179.10  38928125
2018-02-28  178.12  180.615  178.05  179.26  37782138
2018-03-01  175.00  179.775  172.66  178.54  48801970

##### 2. Quandl

In [14]:
# Quandl is a good source of financial data, incorporating price data for multiple asset classes as well as economic
# data, inventory reports etc. Unfortunately the main database for stock prices, WIKI, lost one of its biggest data
# contributors, and so while data before ~ March 2018 is preserved, Quandl has issued a statement to say that the data
# will be less reliable in future.

import pandas_datareader.data as web

symbol = "WIKI/AAPL"
source = "quandl"
start_date = "2011-01-01"
end_date = "2018-03-01"

# aapl = quandl.get(symbol, start_date=start_date, end_date=end_date)

aapl = web.DataReader(symbol, source, start_date, end_date)
aapl.sort_index(ascending=True, inplace=True)

aapl.tail()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-02-23,173.67,175.650,173.54,175.555,33329232.0,0.0,1.0,173.67,175.650,173.54,175.555,33329232.0
2018-02-26,176.35,179.390,176.21,178.970,36886432.0,0.0,1.0,176.35,179.390,176.21,178.970,36886432.0
2018-02-27,179.10,180.480,178.16,178.390,38685165.0,0.0,1.0,179.10,180.480,178.16,178.390,38685165.0
2018-02-28,179.26,180.615,178.05,178.120,33604574.0,0.0,1.0,179.26,180.615,178.05,178.120,33604574.0
2018-03-01,178.54,179.775,172.66,175.000,48801970.0,0.0,1.0,178.54,179.775,172.66,175.000,48801970.0

##### 3. Yahoo!

In [9]:
# The Yahoo API was deprecated in late 2017. It had been the most popular way to access financial data through Python
# but is now unstable. A temporary fix was created (see example below) but this too has become unstable. If you are
# creating fresh code it is best to avoid Yahoo for now.

import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()

symbol = 'AAPL'
start_date = "2011-01-01"
end_date = "2018-03-01"

aapl = web.get_data_yahoo(symbol, start=start_date, end=end_date)

aapl.tail()

# You may find that there is no data... Even the temporary fix is experiencing problems which are ongoing.

[*********************100%***********************]  1 of 1 downloaded

Empty DataFrame
Columns: []
Index: []